name: Docs
on: [push, pull_request, workflow_dispatch]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install dependencies
        run: |
          #pip install sphinx sphinx_rtd_theme
          pwd
          pip install -r doc/requirements.txt
      - name: Sphinx build
        run: |
          #sphinx-build doc _build
          cd doc
          pwd
          make html
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        with:
          folder: doc/_build
